// General Font Style
h1 {
  font-size: 2.8rem;
  font-family: "Source Serif Pro", serif;
}

h2 {
  font-size: 2.6rem;
  font-family: "Source Serif Pro", serif;
}

h3 {
  font-size: 2.4rem;
  font-family: "Source Serif Pro", serif;
}

h4 {
  font-size: 2.2rem;
  font-family: "Source Serif Pro", serif;
}

h5 {
  font-size: 2rem;
  font-family: "Source Serif Pro", serif;
}

h6 {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Source Serif Pro", serif;
}

p {
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
}

a {
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
  color: #f7f9fb;
}

a:hover {
  color: #f7f9fb;
  text-decoration: underline;
}

li {
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
}